/* File: styles/3-footer.css
   Description: This file contains styles for the footer section.
   It defines the appearance of the footer element, including colors,
   height, border, and text positioning.
   Authors: Ukpono Umoren & Alexander Udeogaranya
*/

/* Footer styles */
footer {
  color: black; /* Text color */
  height: 60px; /* Set the height of the footer */
  width: 100%; /* Set the width to occupy the full width of the page */
  border-top: 1px solid #cccccc; /* Add a top border */
  position: absolute; /* Position the footer absolutely */
  bottom: 0; /* Position the footer at the bottom of the page */
  display: flex; /* Use flex display to center the content */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}
